.about-container {
  .info-section-container .info-section-content {
    &>h3:first-of-type {
      margin-top: 0;
    }

    ul {
      padding-left: 25px;

      li {
        position: relative;

        &::before {
          content: "";
          display: block;
          border-radius: 50%;
          width: 8px;
          height: 8px;
          background: theme(color, primary);
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: -20px;
        }
      }
    }
  }

  /***
  *** tablet landscape ***
  ***/
  @media #{theme(media-queries, tablet-portrait)} {
    display: flex;
    align-items: center;

    .photo-section-container {
      background: theme(color, dark);
      width: 50%;
      position: fixed;
      height: 100vh;
      top: 0;
      left: 0;
    }

    .info-section-container {
      width: 50%;
      margin-left: 50%;
    }
  }
}
