.slider-container {
	position: relative;

	.slider-pagination {
		position: absolute;
		bottom: 10px;
		right: 60px;
		z-index: 2;
		width: inherit;
		left: inherit;
	}

	.slider-swipe {
		width: 40px;
		position: absolute;
		right: 0;
		top: 270px;

		svg {
			animation: rotation 4s infinite linear;
		}
	}

	.slider-button {
		padding: 5px;
		width: 30px;
		cursor: pointer;
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: 2;

		svg path {
			fill: theme(color, text, dark);
			transition: fill 500ms;
		}

		&.slider-button-next {
			bottom: 35px;
			border-bottom: 1px solid theme(color, grey);
		}

		&.slider-button-prev {
			transform: rotate(180deg);
		}
	}

	/***
  *** smartphone xxl ***
  ***/
  @media #{theme(media-queries, smartphone-xxl)} {
  	.slider-pagination {
  		right: 135px;
  	}

  	.slider-swipe {
			top: 320px;
		}

  	.slider-button {
			padding: 5px 15px;
			width: 55px;

			&:hover {
				svg path {
					fill: theme(color, primary);
				}
			}

			&.slider-button-next {
				bottom: 0;
				border-bottom: none;
				border-left: 1px solid theme(color, grey);
			}

			&.slider-button-prev {
				transform: rotate(180deg);
				right: 55px;
				bottom: 1px;
			}
		}
  }

  /***
	*** tablet portrait ***
	***/
	@media #{theme(media-queries, tablet-portrait)} {
		.slider-swipe {
			display: none;
		}
	}
}

@keyframes rotation { 
	0% { 
		transform: rotate(0deg); 
	}

	10% {
		transform: rotate(-22deg);
	}

	30% {
		transform: rotate(22deg);
	}

	40% {
		transform: rotate(0deg);
	}
}