.slider-container .container-slide {
  &.swiper-slide {
    opacity: 0!important;

    &#{-active} {
      opacity: 1!important;
    }
  }

	/***
  *** tablet portrait ***
  ***/
  @media #{theme(media-queries, tablet-portrait)} {
    .image-text-link-container {
      flex-direction: row;

      figure {
        margin-right: 50px;
        margin-left: 0;
      }
    }
  }
}
