.logo {
  margin: 15px 15px 0;

  a {
    display: block;

    img {
      width: 100px;
    }
  }

	/***
	*** tablet portrait ***
	***/
	@media #{theme(media-queries, tablet-portrait)} {
		a img {
			width: 125px;
		}
	}

	/***
	*** laptop ***
	***/
	@media #{theme(media-queries, laptop)} {
		a img {
			width: 150px;
		}
	}

	/***
	*** desktop ***
	***/
	@media #{theme(media-queries, desktop)} {
		a img {
			width: 175px;
		}
	}
}
