.contact-elements-list {
	max-width: 250px;
	margin: auto;
	padding-top: 50px;
	padding-bottom: 50px;
	z-index: 2;

	li {
		padding: 25px 0;

		&:first-of-type {
			padding-top: 0;
		}

		&:last-of-type {
			padding-bottom: 0;
		}
		
		&.contact-element-container,
		.contact-element-container {
			display: flex;
			align-items: center;

			svg {
				width: 30px;
				height: 30px;
				margin-right: 25px;

				path {
					fill: theme(color, primary);
				}
			}

			.contact-element {
				display: flex;
				flex-direction: column;

				address {
					font-style: normal;
					line-height: 1.5;
				}

				span {
					transition: color 500ms;
				}

				.title {
					padding-bottom: 10px;
					font-weight: 700;
					opacity: 0.9;
				}

			}
		}
	}

	/***
	*** smartphone xxl ***
	***/
	@media #{theme(media-queries, smartphone-xxl)} {
		li {
			a.contact-element-container:hover {
				span {
					color: theme(color, primary);
				}
			}
		}
	}

	/***
	*** tablet portrait ***
	***/
	@media #{theme(media-queries, tablet-portrait)} {
		display: flex;
		justify-content: space-around;
		max-width: inherit;

		li, 
		li:first-of-type, 
		li:last-of-type {
			padding: 25px 0;
		}

		li {
			&:last-of-type {
				padding-bottom: 0;
			}

			&.contact-element-container,
			.contact-element-container {
				align-items: inherit;
			}
		}
	}

	/***
	*** tablet landscape ***
	***/
	@media #{theme(media-queries, tablet-landscape)} {
		max-width: inherit;
		padding-left: 100px;
		padding-top: 0;
		padding-bottom: 15px;
		height: 100%;
    flex-direction: column;
    max-height: 350px;
    justify-content: space-around;

		li {
			&,
			&:first-of-type,
			&:last-of-type {
				padding: 0;
			}

			&.contact-element-container,
			.contact-element-container {
				.contact-element {
					address,
					span {
						color: theme(color, grey);
					}

					.title {
						opacity: 0.9;
						color: theme(color, light);
					}

				}
			}
		}
	}

	/***
	*** desktop ***
	***/
	@media #{theme(media-queries, desktop)} {
		padding-left: 200px;
		max-height: 400px;

		li {
			&.contact-element-container,
			.contact-element-container {

				svg {
					width: 35px;
					height: 35px;
				}
			}

			&.contact-element-container {
				span {
					&.title {
						font-size: 1.1em;
					}	
				}
			}
		}
	}
}