.contact-container {
	display: flex;
	flex-direction: column;

	.contact-info {
		&>.pretitle-title {
			max-width: 400px;
    	
			&::after {
				content:"";
				max-width: 500px;
				width: 50%;
				height: 2px;
				background: theme(color, primary);
				position: absolute;
				bottom: 0;
				left: 25%;
				display: block;
			}
		}
	}

	/***
	*** tablet landscape ***
	***/
	@media #{theme(media-queries, tablet-landscape)} {
		flex-direction: row;

		section {
			height: 100vh;

			&.contact-info {
				background-color: theme(color, dark);
				width: 45%;
				max-width: 550px;
				min-width: 350px;
				display: flex;
				flex-direction: column;

				&>.pretitle-title {
		    	text-align: right;
		    	margin-top: 0;
		    	margin-right: 0;

					.title, 
					.pretitle {
						color: theme(color, light);
					}

					&::after {
						right: 0;
						left: inherit;
						width: 100%;
						bottom: 25px;
					}
				}
			}

			&.map-container {
				flex: 1;
				position: relative;
				overflow: hidden;
			}
		}
	}

	/***
	*** laptop ***
	***/
	@media #{theme(media-queries, laptop)} {
		section {
			&.contact-info {
				&>.pretitle-title {
		    	padding-top: 50px;
		    }
		  }
		}

	}
}
