.contact-container {
	display: flex;
	flex-direction: column;

	.contact-info {
		.pretitle-title {
			max-width: 400px;
    	
			&::after {
				content:"";
				max-width: 500px;
				width: 50%;
				height: 2px;
				background: theme(color, primary);
				position: absolute;
				bottom: 0;
				left: 25%;
				display: block;
			}
		}
	}

	/***
	*** tablet portrait ***
	***/
	@media #{theme(media-queries, tablet-portrait)} {
		.map-container {
			display: flex;
		}
	}

	/***
	*** tablet landscape ***
	***/
	@media #{theme(media-queries, tablet-landscape)} {
		flex-direction: row;

		section {
			height: 100vh;

			&.contact-info {
				background-color: theme(color, dark);
				width: 45%;
				max-width: 600px;
				min-width: 350px;
				
				.wrapper-intern {
					display: flex;
					flex-direction: column;
					height: 100%;

					.pretitle-title {
			    	text-align: right;
			    	margin-top: 0;
			    	margin-right: 0;
			    	margin-bottom: 0;
			    	padding-top: 50px;
			    	padding-bottom: 50px;
			    	padding-right: 0;

						.title, 
						.pretitle {
							color: theme(color, light);
						}

						&::after {
							right: 0;
							left: inherit;
							width: 100%;
							bottom: 0;
						}
					}
				}
			}

			&.map-container {
				display: inherit;
				flex: 1;
				position: relative;
				overflow: hidden;
			}
		}
	}

	/***
	*** desktop ***
	***/
	@media #{theme(media-queries, desktop)} {
		section {
			&.contact-info {
				max-width: 700px;

				.pretitle-title {
					max-width: inherit;
				}
			}
		}
	}
}
