.home-container {
	width: 100%;
	overflow: hidden;

	section {
		padding-top: 50px;
		padding-bottom: 50px;
		position: relative;

		h3 {
			color: theme(color, primary);
			opacity: 1;
		}
	}

	.introduction-section {
		padding-top: 0;
		padding-bottom: 0;
		display: flex;
		background-color: theme(color, dark);
		flex-direction: column;
		height: 100vh;
		justify-content: space-between;
		background: url("../../assets/images/home/intro-mobile.jpg") center no-repeat;
		background-size: cover;

		.infos {
			padding-left: 20px; 

			p {
				color: theme(color, primary);
				font-size: 22px;
				font-weight: 700;
				margin: 0;
			}

			h2 {
				color: theme(color, light);
				font-weight: 900;
				margin: 0 0 50px;
				font-size: 35px;
				line-height: 45px;
			}
		}

		.scroll-icon {
			display: none;
		}
		
		.social-networks {
			margin: 0 auto 15px;
			width: 100%;
			max-width: 300px;
			justify-content: space-around;

			a {
				padding: 0;
			}
		}
	}

	.about-section {
		padding-top: 0;
	}

	.portfolio-section {
		background: theme(color, grey-light);

		&::before {
			position: absolute;
			width: 100vw;
			height: 0;
			left: 0;
			content: "";
			border-bottom: 50px solid theme(color, grey-light);
			display: block;
			top: 0;
			border-left: 100vw solid theme(color, light);
		}
	}

	.contact-section {
		background: theme(color, dark);

		&::before {
			position: absolute;
			width: 100vw;
			height: 0;
			left: 0;
			content: "";
			border-bottom: 50px solid transparent;
			display: block;
			top: 0;
			border-left: 100vw solid theme(color, grey-light);
		}

		* {
			color: theme(color, light);
		}

		.contact-infos-container {
			position: relative;

			p {
				margin-top: 0;
			}

			ul {
				padding-left: 40px;

				li {
					position: relative;

					&::before {
						content: "";
						display: block;
						border-radius: 50%;
						width: 8px;
						height: 8px;
						background: theme(color, primary);
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						left: -20px;
					}
				}
			}

			.button {
				margin-top: 50px;
			}

			span {
				color: theme(color, light);
        font-weight: 900;
        display: block;
        position: absolute;
        text-transform: uppercase;
        top: 0;
        font-size: 225px;
        letter-spacing: 10px;
        left: 0;
        opacity: 0.1;
        z-index: 0;
        white-space: nowrap;
        pointer-events: none;
        transform: translate(150px, -30px);
			}
		}	
	}

	/***
  *** smartphone xxl ***
  ***/
  @media #{theme(media-queries, smartphone-xxl)} {
    .introduction-section {
			background: url("../../assets/images/home/intro-mobile-plus.jpg") center no-repeat;
			background-size: cover;

			.infos {
				padding-left: 20px; 

				p {
					font-size: 24px;
					font-weight: 700;
				}

				h2 {
					font-size: 40px;
					line-height: 50px;
				}
			}

			.social-networks {
				margin: 0 0 15px;
			}
		}
  }

  /***
  *** tablet portrait ***
  ***/
  @media #{theme(media-queries, tablet-portrait)} {
  	section {
			padding-top: 70px;
			padding-bottom: 60px;
		}

  	.introduction-section {
  		.infos {
  			padding-left: 0;
  			padding-top: 100px;
  			max-width: 500px;
  			margin-left: 20%;

  			p {
					font-size: 28px;
				}

				h2 {
					font-size: 45px;
					line-height: 55px;
				}
  		}

  		.scroll-icon {
				display: inline-block;
				width: 60px;
				margin-left: auto;
				margin-right: auto;
				padding-bottom: 15px;
			}

  		.social-networks {
	  		position: absolute;
	  		max-width: 60px;
				text-align: center;
				left: 50px;
				max-height: 280px;
				bottom: 0;
	  	}
  	}

  	.portfolio-section {
  		&::before {
				border-bottom: 70px solid theme(color, grey-light);
			}
  	}

  	.contact-section {
  		text-align: center;

  		&::before {
  			border-bottom: 70px solid transparent;
  		}

  		.contact-infos-container {
  			text-align: left;
  			display: inline-block;
  			margin: auto;
  		}
  	}
  }

  /***
  *** tablet landscape ***
  ***/
  @media #{theme(media-queries, tablet-landscape)} {
  	section {
			padding-top: 90px;
			padding-bottom: 70px;
		}
  
  	.introduction-section {
  		background: url("../../assets/images/home/intro-tablet.jpg") center no-repeat;
			background-size: cover;

  		.infos {
  			padding-left: 0;

  			p {
					font-size: 32px;
				}

				h2 {
					font-size: 55px;
					line-height: 65px;
				}
  		}

  		.social-networks {
				max-height: 300px;
	  	}
  	}

  	.portfolio-section {
  		&::before {
				border-bottom: 90px solid theme(color, grey-light);
			}
  	}

  	.contact-section {
  		&::before {
  			border-bottom: 90px solid transparent;
  		}
  	}
  }

  /***
  *** laptop ***
  ***/
  @media #{theme(media-queries, laptop)} {
  	section {
  		padding-top: 130px;
  		padding-bottom: 80px;
  	}

  	.portfolio-section {
  		&::before {
				border-bottom: 130px solid theme(color, grey-light);
			}
  	}

  	.contact-section {
  		&::before {
  			border-bottom: 130px solid transparent;
  		}
  	}
  }

  /***
  *** desktop ***
  ***/
  @media #{theme(media-queries, desktop)} {
  	section {
  		padding-top: 180px;
  		padding-bottom: 100px;
  	}

  	.introduction-section {
  		.infos {
  			p {
					font-size: 40px;
				}

				h2 {
					font-size: 65px;
					line-height: 75px;
				}
  		}

  		.scroll-icon {
				width: 70px;
			}

  		.social-networks {
				max-height: 350px;
	  	}
  	}

  	.portfolio-section {
  		&::before {
				border-bottom: 180px solid theme(color, grey-light);
			}
  	}

  	.contact-section {
  		&::before {
  			border-bottom: 180px solid transparent;
  		}
  	}
  }

  /***
  *** desktop xl ***
  ***/
  @media #{theme(media-queries, desktop-xl)} {
  	section {
  		padding-top: 220px;
  		padding-bottom: 120px;
  	}

  	.introduction-section {
  		.infos {
  			max-width: 800px;
  			
  			p {
					font-size: 46px;
				}

				h2 {
					font-size: 90px;
					line-height: 100px;
				}
  		}

  		.scroll-icon {
				width: 80px;
			}

  		.social-networks {
				max-height: 380px;
	  	}
  	}

  	.portfolio-section {
  		&::before {
				border-bottom: 220px solid theme(color, grey-light);
			}
  	}

  	.contact-section {
  		&::before {
  			border-bottom: 220px solid transparent;
  		}
  	}
  }

  /***
  *** desktop xxl ***
  ***/
  @media #{theme(media-queries, desktop-xxl)} {
  	section {
  		padding-top: 250px;
  		padding-bottom: 150px;
  	}

  	.introduction-section {
  		.infos {
  			max-width: 800px;
  			
  			p {
					font-size: 52px;
				}

				h2 {
					font-size: 100px;
					line-height: 110px;
				}
  		}

  		.scroll-icon {
				width: 100px;
			}

  		.social-networks {
				max-height: 450px;
	  	}
  	}

  	.portfolio-section {
  		&::before {
				border-bottom: 250px solid theme(color, grey-light);
			}
  	}

  	.contact-section {
  		&::before {
  			border-bottom: 250px solid transparent;
  		}
  	}
  }
}