.home-container {
	.introduction-section {
		display: flex;
		background: theme(color, dark);
		flex-direction: column;
		height: 100vh;
		justify-content: space-between;

		.infos {
			p {
				color: theme(color, primary);
			}

			h2 {
				color: theme(color, light);
			}
		}

		.social-networks {
			margin: 0 auto 10px;
			width: 100%;
			max-width: 300px;
			justify-content: space-around;


			a {
				padding: 0;
			}
		}
	}
}