.portfolio-container {
	.portfolio-nav {
		ul {
			font-weight: 600;
			text-align: center;
			font-size: 18px;
			padding-bottom: 50px;

			li {
				display: inline-block;
				padding: 0 10px;

				a {
					transition: color 500ms;

					&.selected {
						color: theme(color, primary);
					}
				}
			}
		}
	}

	/***
  *** smartphone xxl ***
  ***/
  @media #{theme(media-queries, smartphone-xxl)} {
    .portfolio-nav {
    	ul {
    		font-size: 20px;

    		li a:hover {
					color: theme(color, primary);
    		}
    	}
    }
  }

  /***
  *** laptop ***
  ***/
  @media #{theme(media-queries, laptop)} {
		.portfolio-nav {
    	ul {
    		padding-bottom: 60px;
    		font-size: 22px;
    	}
    }
  }
}

.fullscreen {
	* {
		color: theme(color, light);
	}
}
