.contact-container {
	.contact-form {
		transition: transform 500ms ease;
		margin-top: 450px;
					
		&.visible{
			transform: translate(0);
		}

		&.invisible{
			transform: translateX(-100%) translateY(calc(100% - 45px));
		}

		form {
			width: 100%;
			max-width: 450px;
			margin: auto;

			.form-element {
				margin-bottom: 20px;
			}

			input[type="submit"] {
				border: none;
				background-color: theme(color, dark);
				color: theme(color, light);
				padding: 10px 25px;
				cursor: pointer;
				width: 100%;
				transition: background-color 500ms;
			}

			.message {
				border-bottom: none;
				font-weight: 400;
				text-align: left;

				&.success {
					color: theme(color, primary);
				}

				&.error {
					color: theme(color, secondary);
				}
			}
		}

		/***
	  *** smartphone xxl ***
	  ***/
	  @media #{theme(media-queries, smartphone-xxl)} {
	    form input[type="submit"]:hover {
				background-color: theme(color, primary);
			}
	  }

	  /***
		*** tablet portrait ***
		***/
	  @media #{theme(media-queries, tablet-portrait)} {
	  	margin-top: 0;
	  	width: 50%;
			margin-right: 0;
	  }

	  /***
		*** tablet landscape ***
		***/
		@media #{theme(media-queries, tablet-landscape)} {
			border: 1px solid theme(color, border);
			width: 100%;
			width: 425px;
			background-color: theme(color, light);
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 5;
			padding-top: 25px;
			padding-bottom: 25px;			

			form {
				text-align: right;

				.form-element {
					display: inline-block;

					&:nth-of-type(1),
					&:nth-of-type(2) {
						width: calc(50% - 10px);
					}

					&:nth-of-type(1) {
						margin-right: 20px;
					}
				}

				input[type="submit"] {
					max-width: 150px;
				}
				
				.submit-message {
					display: flex;
					flex-direction: row-reverse;
					align-items: center;
					justify-content: space-between;
					
					.message {
						margin: 0;
				    padding: 0;
				    margin-right: 15px;
					}
				}
			}
		}
	}
}
