.button {
  border: 1px solid theme(color, primary);
  padding: 18px 20px;
  background-color: theme(color, dark);
  color: theme(color, light);
  font-size: 1.1em;
  position: relative;
  transition: background-color 500ms, color 500ms;
  display: inline-block;

  svg {
    width: 15px;
    height: 15px;
    margin-left: 15px;
    transform: translateY(2px);
    transition: transform 500ms;

    path {
      fill: theme(color, light);
    }
  }

  /***
  *** smartphone xxl ***
  ***/
  @media #{theme(media-queries, smartphone-xxl)} {
    &:hover {
      background-color: theme(color, primary);

      svg {
        transform: translate(5px, 2px);
      }
    }
  }

  /***
  *** desktop ***
  ***/
  @media #{theme(media-queries, desktop)} {
    font-size: 1.2em;

    svg {
      width: 20px;
      height: 20px;
      margin-left: 20px;
    }
  }

  /***
  *** desktop xl***
  ***/
  @media #{theme(media-queries, desktop-xl)} {
    font-size: 1.4em;
  }

  /***
  *** desktop xxl***
  ***/
  @media #{theme(media-queries, desktop-xxl)} {
    font-size: 1.7em;
    padding: 25px;

    svg {
      width: 25px;
      height: 25px;
      margin-left: 25px;
    }
  }
}
