.photo-section {
	display: flex;
	min-height: 300px;
	background: theme(color, dark);
	align-items: center;

	figure {
		margin: 0;
		position: relative;
		width: 100%;
		min-height: 400px;

		img {
			position: absolute;
			height:100%;
			width: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}

	/***
	*** tablet portrait ***
	***/
	@media #{theme(media-queries, tablet-portrait)} {
		figure {
			height: calc(100vh - 200px);
			min-height: inherit;
		}
	}
}