.scroll-up {
  width: 45px;
  height: 50px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 100;
  background-color: theme(color, dark);
  border: 1px solid theme(color, primary);
  text-align: center;
  transition: transform 500ms, opacity 500ms, background-color 500ms, visibility 500ms;
  cursor: pointer;
  transform: translateX(100%) translateX(15px);
  display: none;
  opacity: 0;
  visibility: hidden;

  svg {
    width: 25px;
    height: 50px;
    margin: auto;

    path {
      fill: theme(color, light);
    }
  }

  /***
  ***   smartphone xxl ***
  ***/
  @media #{theme(media-queries, smartphone-xxl)} {
    &:hover {
      background-color: theme(color, primary);
    }
  }

  /***
  ***   laptop ***
  ***/
  @media #{theme(media-queries, laptop)} {
    display: block;

    &.visible {
      opacity: 1;
      visibility: visible;	
      transform: translateX(0);
    }
  }

  /***
  ***   desktop ***
  ***/
  @media #{theme(media-queries, desktop)} {
    width: 50px;
    height: 55px;

    svg {
      width: 30px;
      height: 55px;
    }
  }

  /***
  ***   desktop xl ***
  ***/
  @media #{theme(media-queries, desktop-xl)} {
    width: 55px;
    height: 60px;

    svg {
      width: 35px;
      height: 60px;
    }
  }

  /***
  ***   desktop xxl ***
  ***/
  @media #{theme(media-queries, desktop-xxl)} {
    width: 70px;
    height: 75px;

    svg {
      width: 40px;
      height: 75px;
    }
  }
}
