.header-menu {
	.newsletter {
		display: none;
		width: 50%;
		max-width: 400px;		
	}
	
	/***
	*** tablet landscape ***
	***/
	@media #{theme(media-queries, tablet-landscape)} {
		.newsletter {
			justify-content: center;
			align-items: center;
			opacity: 0;
			display: flex;
			transform: translateY(-50px);

			.content {
				max-width: 300px;

				p {
					font-size: 18px;
					color: theme(color, light);
					line-height: 28px;
					padding-bottom: 30px;
					margin-bottom: 30px;
					border-bottom: 1px solid theme(color, primary);
					text-transform: inherit;
					font-weight: 200;

					&.message {
						border-bottom: none;
						font-weight: 400;
						padding-bottom: 0;
						margin-bottom: 0;

						&.success {
							color: theme(color, primary);
						}

						&.error {
							color: theme(color, secondary);
						}
					}
				}

				form {
					display: flex;
					width: 100%;
					height: 50px;
					position: relative;
					background: theme(color, light);

					input {
						width: calc(100% - 50px);
					}

					button {
						position: absolute;
						right: 0;
						border: none;
						background-color: theme(color, primary);
						cursor: pointer;
						width: 50px;
						height: 50px;
						display: flex;
						justify-content: center;
						line-height: 1;
						transition: background-color 500ms;

						svg {
							width: 20px;
							pointer-events: none;

							path {
								fill: theme(color, light);
								transition: fill 500ms;
							}
						}

						&:hover {
							background-color: theme(color, secondary);

							svg path {
								fill: theme(color, primary);
							}
						}
					}
				}
			}
		}

		&.open {
			.newsletter {
				opacity: 1;
				transition: opacity 500ms 500ms, transform 500ms 500ms;
				transform: translateY(0);
			}
		}
	}

	/***
	*** laptop ***
	***/
	@media #{theme(media-queries, laptop)} {
		.newsletter {
			max-width: 500px;		

			.content {
				max-width: 400px;
			}
		}
	}

	/***
	*** desktop ***
	***/
	@media #{theme(media-queries, desktop)} {
		.newsletter {
			max-width: 600px;		

			.content {
				max-width: 500px;

				p {
					font-size: 20px;
					line-height: 30px;
					padding-bottom: 40px;
					margin-bottom: 40px;
				}

				form {
					height: 55px;

					button {
						height: 55px;
					}
				}
			}
		}
	}
}
