* {
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	color: theme(color, text, dark);
	outline: none;
}

p, h3, h4, h5, h6, ul, ol {
	line-height: 1.5;
}

h3 {
	font-weight: 700;
	font-size: 20px;
	opacity: 0.9;
}

a {
	text-decoration: none;
	color: inherit;
}

ul,
ol {
	list-style-type: none;
	padding: 0;
	margin: 0;
}


.wrapper-intern {
	padding-left: 20px;
	padding-right: 20px;
	max-width: 500px; 
	margin: auto;
}

.container-extern {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}



/***
*** smartphone xxl ***
***/
@media #{theme(media-queries, smartphone-xxl)} {
	h3 {
		font-size: 22px;
	}
}

/***
*** tablet portrait ***
***/
@media #{theme(media-queries, tablet-portrait)} {
	.wrapper-intern {
		max-width: 1000px; 
	}
}







@media #{theme(media-queries, desktop)} {

	.wrapper-intern {
		max-width: 1100px; 
	}

	p, h4, h5, address, a {
		font-size: 1.1em;
	}

	h3 {
		font-size: 28px;
	}
}





@media #{theme(media-queries, desktop-xl)} {
	* {
		background: red;
	}
}
