.pretitle-title {
	text-align: center;
	margin: auto;
	position: relative;
	text-transform: uppercase;

	.pretitle {
		margin: 0;
		line-height: 1.5;
		opacity: 0.5;
		padding-bottom: 10px;
		font-weight: 600;
	}

	.title {
		font-weight: 900;
		margin: 0;
		padding-bottom: 50px;
		font-size: 40px;
		letter-spacing: 2px;
	}
}
